<footer class="footer">
  <a href="#cover" class="scroll-up scroll-button">
    <img
      class="button-img"
      src="./assets/images/ico-arrow.svg"
      alt="go up"
      title="Up up!"
  /></a>
  <div class="footer__container">
    <small class="footer__copy--text footer-small">&copy; 2020 </small>
    <small class="footer__copy--claim footer-small"
      >we <i class="fas fa-heart"></i> components</small
    >
  </div>
    <ul class="footer__container">
      <li><a href="#" class="footer-link">Articles</a></li>
      <li><a href="#" class="footer-link">Books</a></li>
      <li><a href="#" class="footer-link">Events</a></li>
      <li><a href="#" class="footer-link">Reasons</a></li>
      <li><a href="#" class="footer-link">Tips</a></li>
    </ul>
    <ul class="footer__container">
      <li><a href="#" class="footer-link">Twitter</a></li>
      <li><a href="#" class="footer-link">Instagram</a></li>
      <li><a href="#" class="footer-link">Mastodon.social</a></li>
    </ul>
  </div>
</footer>
