.article {
  &__container {
    width: 90%;
    margin: 30px auto 45px;

    @media all and (min-width: 768px) {
      margin-bottom: 60px;
    }

    @media all and (min-width: 768px) {
      margin-top: 60px;
      width: 57%;
    }
  }

  &__type {
    color: $light-blue;
    font-family: $font-main;
  }

  &__text {
    font-family: $font-main;
    color: $grey-brown;
    margin: 15px auto;
  }

  &__link {
    color: $bright-orange;
    border: solid 2px $bright-orange;
    width: 75px;
    transition: ease 0.2s;

    @media all and (min-width: 768px) {
      width: 91px;
    }

    @media all and (min-width: 768px) {
      width: 160px;
    }

    &:hover {
      color: $white;
      background-color: $bright-orange;
    }
  }
}
