.article {
  width: 90%;
  margin: 30px auto 45px;

  @media all and (min-width: 768px) {
    margin-bottom: 60px;
  }

  @media all and (min-width: 768px) {
    margin-top: 60px;
    width: 57%;
  }

  &__section {
    color: $light-blue;
    font-family: $font-main;
    font-size: 14px;
    line-height: 2.14;
  }

  &__title {
    font-family: $font-title;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.25;
  }

  &__text {
    font-family: $font-main;
    font-size: 18px;
    line-height: 1.67;
    color: $grey-brown;
    margin: 15px auto;
  }

  &__link {
    display: block;
    color: $bright-orange;
    border: solid 2px $bright-orange;
    border-radius: 30px;
    font-family: $font-main;
    font-size: 20px;
    font-weight: 500;
    line-height: 2.25;
    width: 75px;
    text-align: center;
    transition: ease 0.2s;

    @media all and (min-width: 768px) {
      width: 91px;
    }

    @media all and (min-width: 768px) {
      width: 160px;
    }

    &:hover {
      color: $white;
      background-color: $bright-orange;
    }
  }
}
