.footer {
  background-color: $dark-blue;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  text-align: center;
  padding: 60px 0 45px;

  @media all and (min-width: $tablet) {
    flex-direction: row;
    text-align: left;
    justify-content: center;
    align-items: start;
  }

  .fa-heart {
    color: $bright-orange;
  }

  &__container {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    @media all and (min-width: $tablet) {
      width: 27.3%;
    }
    @media all and (min-width: $desktop) {
      width: 12%;
    }
  }

  &__copy {
    @media all and (min-width: $tablet) {
      order: -1;
    }
  }
}

.scroll-up {
  position: absolute;
  box-shadow: 0 2px 4px 0 $grey-brown;
  top: -23px;
  left: calc(50% - 25.5px);
}
