.footer {
  background-color: $dark-blue;
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  align-items: center;
  text-align: center;
  padding: 60px 0 45px;

  @media all and (min-width: $tablet) {
    flex-direction: row;
    text-align: left;
    justify-content: space-evenly;
    align-items: start;
  }

  @media all and (min-width: $desktop) {
    justify-content: center;
  }

  .fa-heart {
    color: $bright-orange;
  }

  &__container {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    @media all and (min-width: $tablet) {
      width: 27.3%;
    }
    @media all and (min-width: $desktop) {
      width: 12%;
    }
  }
}

.page-up {
  display: flex;
  width: 45px;
  height: 45px;
  position: absolute;
  top: -23px;
  left: calc(50% - 25.5px);
  background-color: white;
  border-radius: 25px;
  text-align: center;
  justify-content: center;
  box-shadow: 0 2px 4px 0 $grey-brown;
  animation-name: scrolling;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
